@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

*, *::before, *::after {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/font/SourceCodePro.ttf') format('truetype');
}

.grain-bg::before {
  z-index: 0;
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noise)' opacity='0.13'/></svg>");
  content: "";
  mix-blend-mode: multiply;
  opacity: 0.7;
  pointer-events: none;
}